.tt-task_list-task {
  padding: 20px 15px 5px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  font-size: 16px;
  transition: 0.3s;
  overflow: hidden;

  input {
    border: none;
    outline: none;
    font-size: 16px;
  }

  .task-header {
    display: flex;
    height: 15px;
    align-items: center;

    .task-checkbox {
      margin: 0 5px 0 0;
    }

    .task-header-date {
      background: lightgray;
      padding: 0 4px 0 4px;
      margin-right: 3px;
      border-radius: 3px;
      font-size: 12px;
    }

  }

  .task-content {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .task-body {
    padding: 5px 5px 5px 20px;
    height: 100%;

    textarea {
      border: none;
      resize: none;
      outline: none;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }

  .task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  &--selected {
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 1px 10px 1px #b8b2b28a;
    min-height: 135px;
    .task-content {
      height: 130px;
      overflow: hidden;
      
    }
  }
  &--completed {
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 1px 10px 1px #b8b2b28a;
    min-height: 135px;
    
    text-decoration: line-through;
    .task-content {
    }
    * {
      font-style: normal;
    }
  }
}

