.tt-sidebar-item {
  min-height: 30px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  flex-direction: row;
  overflow: hidden;

  .item-icon {
  }

  .item-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
  }

  &--selected {
    background: #e2e3e9;
  }
  &:hover {
    background: #e2e3e9;
  }
}
