* {
  box-sizing: border-box;
}

html,
body,
.App,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
  background: white;
  min-height: 500px;
}
.App {
  display: flex;
}
