.settings-modal {
    .ant-modal-content {
        border-radius: 5px;
    }

    .ant-modal-header {
        border-radius: 5px 5px 0 0;
        border: none;
    }
}

.settings-modal-content {
    display: flex;
    gap: 5px;

    .settings-modal-select {
        width: 200px;
    }
}